:root {
  --button-font: calc(1.5vw + 1.5vh) "Kurale", serif;
  --button-text-color: rgb(167, 133, 94);;
  --background-color: black;
  --banner-color: rgb(51, 31, 0);
  --banner-font: "Kurale", serif;
  --main-outline: ridge rgb(95, 0, 0);
  --grid-outline: solid rgb(85, 0, 0) 2px;
  --button-box-shadow: 0 0 20px rgb(24, 0, 0), inset 0 0 10px rgb(85, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: auto;
  overflow-x: hidden;
  flex-shrink: 1;
}

h1{
  font-family: Georgia, serif;
  font-size: calc(1.5vw + 1.5vh);
  overflow-wrap: break-word;
}

h2{
  font-family: Georgia, serif;
  font-size: calc(0.9vw + 0.9vh);
  overflow-wrap: break-word;
}

h3{
  font-family: Georgia, serif;
  font-size: calc(0.8vw + 0.8vh);
  overflow-wrap: break-word;
}

p{
  font-family: Georgia, serif;
  font-size: calc(0.7vw + 0.7vh);
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color:rgb(167, 133, 94);
  text-shadow: -1px -1px 2px #000000;
  font-size: calc(1.5vw + 1.5vh);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/**{
  outline: red dashed 1px;
}*/

.mainbody {
    background: linear-gradient(to bottom, rgb(85, 0, 0) 0%, rgb(24, 0, 0) 100%);
    
}
.mainnavbar {
  background-color: rgb(51, 31, 0);
}

.maindropbutton {
  color: rgb(167, 133, 94);
  text-shadow: -1px -1px 2px #000000;
  &:hover {
    background-color: rgb(85, 0, 0);
    box-shadow: var(--button-box-shadow);
  }
}

.maindropdowncontent {
  background-color: rgb(51, 31, 0);
}

.maindropdowncontent a:hover {
    background-color: rgb(85, 0, 0);
    box-shadow: var(--button-box-shadow);
}


.mainpagesidebar {
  background-color: rgb(51, 31, 0);
  color: rgb(167, 133, 94);
  text-shadow: -1px -1px 2px #000000;
}

.aboutbutton {
  background-color: rgb(51, 31, 0);
  &:hover {
    background-color: rgb(85, 0, 0);
    box-shadow: var(--button-box-shadow);
  }
}

.mainpagebanner {
  color:rgb(167, 133, 94);
  text-shadow: -1px -1px 2px #000000;
}